[Unit]
Description=DHCP Client Daemon from ferganey
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/sbin/dhcpcd -q -w wlan0
Restart=on-failure

[Install]
WantedBy=multi-user.target

