[Unit]
Description=WPA supplicant for wlan0, from ferganey 
After=network.target

[Service]
Type=forking
ExecStart=/usr/sbin/wpa_supplicant -B -i wlan0 -c /etc/wpa_supplicant/wpa_supplicant.conf
ExecStop=/usr/sbin/wpa_cli -i wlan0 terminate
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target

